
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>

    <a asp-action="Index" class="btn btn-outline-success"><i class="fa fa-chevron-right"></i> Envio</a>
</div>
<div>
    <a asp-action="BookReturn" class="btn btn-outline-success"><i class="fa fa-chevron-left"></i> Recojo</a>
</div>

