@model Entities.Reserva
@{
    ViewData["Title"] = "Novo";
}
<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            @*<div class="form-group">
            <label asp-for="IdLetor" class="control-label"></label>
            <select asp-for="IdLetor" class ="form-control" asp-items="ViewBag.IdLetor"></select>
        </div>*@
            <div class="form-group">
                <label asp-for="IdLivro" class="control-label"></label>
                <select asp-for="IdLivro" class="form-control" asp-items="ViewBag.IdLivro"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary"><i class="fa fa-save"></i> Salvar</button>
                <a asp-action="Index" class="btn btn-outline-success"><i class="fa fa-chevron-left"></i> Volver</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
