@model LivroViewModel
@{
     ViewData["Title"] = (Model.Titulo);
}

<h1>@ViewData["Title"]</h1>

<hr />
<div>
    <dl>
        <dt>
        </dt>
        <dd>

            @if (!string.IsNullOrEmpty(Model.Capa))
            {
                <img src="@Url.Content(Model.Capa)" alt="Image" style="width:70px;height:70px;" />
            }
            else
            {
                <img src="~/imagens/livros/no-image.jpg" alt="Image" style="width:70px;height:70px;" />
            }
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Capa" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGenero" class="control-label"></label>
                <select asp-for="IdGenero" class="form-control" asp-items="ViewBag.IdGenero"></select>
                <span asp-validation-for="IdGenero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sipnose" class="control-label"></label>
                <input asp-for="Sipnose" class="form-control" />
                <span asp-validation-for="Sipnose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAutor" class="control-label"></label>
                <select asp-for="IdAutor" class="form-control" asp-items="ViewBag.IdAutor"></select>
                <span asp-validation-for="IdAutor" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary"><i class="fa fa-save"></i> Salvar</button>
                <a asp-action="Index" class="btn btn-outline-success"><i class="fa fa-chevron-left"></i> Volver</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
