@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-3">Editora To Do</h1>
        <p class="lead">Emprestimos de livros</p>
        <hr class="my-4">
      
    </div>
