
@{
    ViewData["Title"] = "Leitor";
}

<h1>Leitor</h1>


<div>
    <h1 class="display-3">Editora To Do</h1>
    <p class="lead">Emprestimos de livros</p>
    <hr class="my-4">

</div>
<div class="row">

    <div class="col-md-4" align="center">

        <h2><p align="center">Reserva de livros</p></h2>
        <a href='@Url.Action("Index", "Reservas")'>
            <img src="~/imagens/livros/admin.png" width="200" height="200" alt="Adminstradores" />
        </a>
        <p></p>
        <p>...</p>

    </div>

    <div class="col-md-4" align="center">

       

    </div>
</div>

